*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
    height: auto;
}

/*SLIDER*/

.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 5em;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;

  }

  .galeria{
    margin-top: 8em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .item {
    flex: 0 32%;
    height: 100px;
    margin-bottom: 2%; /* (100-32*3)/2 */
    margin-top: 14em;
  }

  .video{
    margin: 10em 15em 10em 15em;
  }